<div class="container main">
  <div class="row">
    <div class="col-xs-12 about-text">
      <h2 class="text-center">About</h2><i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>
      <p class="lead">What is this story about? Well, let me tell you a little about it.</p>
      <p>This story is about what happens after it all happens. What do we do? What does anybody do? The story explains what happens to four people after everything goes down. How do they handle it? What kind of life is there for them to live after their life, as we know it at least, no longer exists?</p>
      <p>This is a science fiction story to be clear, but there is a lot to it! Hard sci-fi, soft sci-fi, it doesn't matter does it? It's about the people who have to go through these ordeals.</p>
      <p>And I'll tell you this: this is an ordeal.</p>
      <hr>
      <h3>David, Jeremy, Tara, and Arnold wandered across the desert, looking for solace, and more importanly, a place of safety.</h3>
      <p>They had a place to go, or at least some place to aim towards. David and his friends had already been through hell, and there was the obvious question of whether or not they could continue on.</p>
      <p>Whatever is in front of them, and whatever is behind them, doesn't leave any room for mistakes. Whatever is chasing them, doesn't care about how tired they are, or how the desert can wear you down. In fact, the thing chasing them understands the heat of the sun almost better than them.</p>
      <p>The thing chasing them, wants the sun just as much as it wants them.</p>
    </div>
  </div>
</div>