<div class="main">
  <h3>A Warm Fire</h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
  <!--<i class="fa fa-fire fa-3x" aria-hidden="true"></i>-->
  <div class="tabs">
    <a [routerLink]="['']" 
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{exact: true}">
    <h4>Home</h4></a>
    <a [routerLink]="['story']" 
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{exact: true}">
    <h4>Story</h4></a>
    <a [routerLink]="['about']" 
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{exact: true}">
    <h4>About</h4></a>
    <a [routerLink]="['contact']" 
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{exact: true}">
    <h4 id="Contact">Contact</h4></a>
  </div>
</div>