.main {
    background-color: dodgerblue;
    color: white;
    margin: 0px;
    /*text-align: center;*/
}
h3 {
    display: inline-block;
    font-family: 'Bitter', serif;
    margin-left: 10px;
}
.glyphicon-fire {
    color: darkorange;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
    font-size: 30px;
    animation: flame 5s infinite;
}

@keyframes flame {
    0% {
        transform: scaleX(1);
        color: darkorange;
    }
    50% {
        transform: scaleX(-1);
        color: blue;
        border-bottom: 1px solid lightskyblue;
    }
    100% {
        transform: scaleX(1);
        color: darkorange;  
    }
}