.main {
    background-color: dodgerblue;
    color: white;
    margin: 0px;
    overflow: auto;
    /*text-align: center;*/
}
h3 {
    display: inline-block;
    font-family: 'Bitter', serif;
    margin-left: 10px;
    
}
.tabs {
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    
}
/*.tabs:hover {
    color: darkorange;
    transition: all 1s ease-in;
}*/
h4 {
    display: inline-block;
    margin-left: 10px;
}

a {
    color: white;
}
a:hover {
    color: darkslateblue;
    transition: color 0.3s;
}
#Contact {
    margin-right: 20px;
}

.glyphicon-fire {
    color: darkorange;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
    font-size: 30px;
    animation: flame 5s infinite;
}

@keyframes flame {
    0% {
        transform: scaleX(1);
        color: darkorange;
    }
    50% {
        transform: scaleX(-1);
        color: blue;
        border-bottom: 1px solid lightskyblue;
    }
    100% {
        transform: scaleX(1);
        color: darkorange;  
    }
}