h1 {
    color: white;
    text-align: center;
    padding: 20% 0 30% 0;
    margin: 0;
    font-family: 'Bitter', serif;
    transition: all 3s ease-in;
}

h1:hover {
    color: darkorange;
    transition: all 3s ease-in;
    text-decoration: underline;
    text-decoration-color: orangered;
}
.mainImage {
    background-image: url('../../assets/coldDesert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 0;
    color: white;
}
:host {
    display: block;
    box-sizing: content-box;
}